# Unreal Engine 5 Git Ignore

# Build artifacts
Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vscode/
.idea/
# Backup and autosave files
*_BuiltData.uasset
*_BuiltData.uexp
Autosaves/
Backup/
# Engine
Engine/

# Starter Content
Content/StarterContent/
